<div class="about_us center">
<h1>Steve Jobs</h1>
<p>
Steven Paul "Steve" Jobs (February 24, 1955 – October 5, 2011)
was an American entrepreneur, marketer, and inventor, who was the 
co-founder (along with Steve Wozniak and Ronald Wayne), chairman, and CEO of Apple Inc.  
</p>



<h1>Jeff Bezos</h1>
<p>
Jeffrey Preston "Jeff" Bezos (born January 12, 1964)
 is an American Internet entrepreneur and investor. He is a technology
  entrepreneur who has played a key role in the growth of e-commerce 
  as the founder and CEO of Amazon.com, an online merchant of books and 
  later of a wide variety of products. Under his guidance, Amazon.com became 
  the largest retailer on the World Wide Web and a top model for Internet 
  sales. In 2013, Bezos purchased The Washington Post newspaper
</p>
</div>