


<h1>Welcome to my homepage </h1>
<p>It is really cool to learn rails.</p>
<p>Sign up <a href = "#"> here!</a>.</p>

<p>Sign up <%= link_to "here",  "http://google.com", class: "btn btn-primary btn-large" %>.</p>


