

<div class="jumbotron">
<h1>Hello, world! </h1>
<p>This is a template for a simple marketing or informational website.
 It includes a large callout called a jumbotron and three supporting 
 pieces of content.
 Use it as a starting point to create something more unique.</p>

<div class="center">
<%= link_to "Login",  "http://google.com", class: "btn btn-primary btn-large" %>
<%= link_to "Sign up",  "http://google.com", class: "btn btn-primary btn-large" %>

</div>

</div>

